.profile,
.description {
  padding: 0 auto;
}

.name,
.tag,
.location {
  margin: 10px;
  text-align: center;
}
.name {
  font-weight: 700;
}
.stats {
  padding: 20px;
  border: 5px solid tomato;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
li {
  flex-grow: 1;
}
span {
  display: block;
  text-align: center;
}
.quantity {
  font-weight: 700;
}
