.profile,
.description {
  padding: 0 auto;
}

.name,
.tag,
.location {
  margin: 10px;
  text-align: center;
}
.name {
  font-weight: 700;
}
.stats {
  padding: 0px;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.item {
  flex-grow: 1;
}
span {
  display: block;
  text-align: center;
}
.quantity {
  font-weight: 700;
}
