.list {
  /* display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 15px;
	padding: 0px;
	width: 300px; */
  padding: 0px;
  margin-right: 40 auto;
  margin-left: 40 auto;
  margin-top: 0;
  margin-bottom: 15px;
}
