.statistics {
  padding: 20px;
  border: 5px solid tomato;
}

.title {
  margin: 0 auto;
}

.stat-list {
  display: flex;
  justify-content: space-between;
  /* padding: 0 auto; */
  margin: 0 auto;
}

li {
  flex-grow: 1;
}
